.nav-spacing { margin-left: 10px; }
.nav-spacing { text-decoration: none }
.nav-menu { text-align: right;}
.image-link {text-decoration: none;}
.indexmenu {margin: 0 0 0 10px; text-decoration: none;}
.Moby-DickM {margin: 0 0 0 10px; text-decoration: none;}
.mbdiv {text-align: right;}
.tagsdiv {text-align: right;}
.tablebgc {Background-color: #fafafa;}
.tdinline {padding: 20px;}
.mobydickh { text-align: center; margin: 0 0 80px}
.whaleimg {display: block; margin: 0 auto;}
.summarydivmb {width: 500px; margin: 20px auto; padding: 30px; Background-color: #fafafa;}
.sf {float: left; margin : 0 40px 0 0;}
.spanformoby {font-style: normal; font-size: 24px; font-weight: bold; color: #C8A2C8}
